/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* begin */
.centered { margin-right: auto; margin-left: auto; }
.align { display: inline; }
.align.left { float: left; }
.align.right { float: right; }

.stay { position: relative; }
.stay.left, .stay.top, .stay.right, .stay.bottom { position: absolute; }
.stay.left { left: 0; }
.stay.right { right: 0; }
.stay.top, .stay.top.center { top: 0; }
.stay.top.center {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.stay.bottom, .stay.bottom.center { bottom: 0; }
.stay.bottom.center {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

/* # Spaces for layout and content and both # */
/* layout spaces */
.spacel.all.ten { margin: 10px; }
.spacel.all.twenty { margin: 20px; }
.spacel.all.thirty { margin: 30px; }
.spacel.all.far { margin: 50px; }

/* layout & content spaces */
.spaceb.all.ten { margin: 10px; padding: 10px; }
.spaceb.all.twenty { margin: 20px; padding: 20px; }
.spaceb.all.thirty { margin: 30px; padding: 30px; }
.spaceb.all.far { margin: 50px; padding: 50px; }

/* content spaces */
.spacec.all.ten { padding: 10px; }
.spacec.all.twenty { padding: 20px; }
.spacec.all.thirty { padding: 30px; }
.spacec.all.far { padding: 50px; }

/* layout spaces & both spaces TOP 10px */
.spacel.top.ten, .spaceb.top.ten { margin-top: 10px; }
.spaceb.top.ten { padding-top: 10px; }

/* layout spaces & both spaces TOP 20px */
.spacel.top.twenty, .spaceb.top.twenty { margin-top: 20px; }
.spaceb.top.twenty { padding-top: 20px; }

/* layout spaces & both spaces TOP 30px */
.spacel.top.thirty, .spaceb.top.thirty { margin-top: 30px; }
.spaceb.top.thirty { padding-top: 30px; }

/* layout spaces & both spaces TOP max 50px */
.spacel.top.far, .spaceb.top.far { margin-top: 50px; }
.spaceb.top.far { padding-top: 50px; }

/* layout spaces & both RIGHT spaces 10px */
.spacel.right.ten, .spaceb.right.ten { margin-right: 10px; }
.spaceb.right.ten { padding-right: 10px; }

/* layout spaces & both RIGHT spaces 20px */
.spacel.right.twenty, .spaceb.right.twenty { margin-right: 20px; }
.spaceb.right.twenty { padding-right: 20px; }

/* layout spaces & both RIGHT spaces 30px */
.spacel.right.thirty, .spaceb.right.thirty { margin-right: 30px; }
.spaceb.right.thirty { padding-right: 30px; }

/* layout spaces & both RIGHT spaces 50px */
.spacel.right.far, .spaceb.right.far { margin-right: 50px; }
.spaceb.right.far { padding-right: 50px; }

/* layout spaces & both BOTTOM spaces 10px */
.spacel.bottom.ten, .spaceb.bottom.ten { margin-bottom: 10px; }
.spaceb.bottom.ten { padding-bottom: 10px; }

/* layout spaces & both BOTTOM spaces 20px */
.spacel.bottom.twenty, .spaceb.bottom.twenty { margin-bottom: 20px; }
.spaceb.bottom.twenty { padding-bottom: 20px; }

/* layout spaces & both BOTTOM spaces 30px */
.spacel.bottom.thirty, .spaceb.bottom.thirty { margin-bottom: 30px; }
.spaceb.bottom.thirty { padding-bottom: 30px; }

/* layout spaces & both BOTTOM spaces 50px */
.spacel.bottom.far, .spaceb.bottom.far { margin-bottom: 50px; }
.spaceb.bottom.far { padding-bottom: 50px; }

/* layout spaces & both LEFT spaces 10px */
.spacel.left.ten, .spaceb.left.ten { margin-left: 10px; }
.spaceb.left.ten { padding-left: 10px; }

/* layout spaces & both LEFT spaces 20px */
.spacel.left.twenty, .spaceb.left.twenty { margin-left: 20px; }
.spaceb.left.twenty { padding-left: 20px; }

/* layout spaces & both LEFT spaces 30px */
.spacel.left.thirty, .spaceb.left.thirty { margin-left: 30px; }
.spaceb.left.thirty { padding-left: 30px; }

/* layout spaces & both LEFT spaces 50px */
.spacel.left.far, .spaceb.left.far { margin-left: 50px; }
.spaceb.left.far { padding-left: 50px; }

/* content spaces TOP */
.spacec.top.ten { padding-top: 10px; }
.spacec.top.twenty { padding-top: 20px; }
.spacec.top.thirty { padding-top: 30px; }
.spacec.top.far { padding-top: 57px; }

/* content spaces RIGHT */
.spacec.right.ten { padding-right: 10px; }
.spacec.right.twenty { padding-right: 20px; }
.spacec.right.thirty { padding-right: 30px; }
.spacec.right.far { padding-right: 50px; }

/* content spaces BOTTOM */
.spacec.bottom.ten { padding-bottom: 10px; }
.spacec.bottom.twenty { padding-bottom: 20px; }
.spacec.bottom.thirty { padding-bottom: 30px; }
.spacec.bottom.far { padding-bottom: 50px; }

/* content spaces LEFT */
.spacec.left.ten { padding-left: 10px; }
.spacec.left.twenty { padding-left: 20px; }
.spacec.left.thirty { padding-left: 30px; }
.spacec.left.far { padding-left: 50px; }

/* # TEXT # */
.text.left { text-align: left; }
.text.right { text-align: right; }
.text.center { text-align: center; }
.text.light { font-style: lighter; }
.text.bold { font-style: bolder; }
.text.italic { font-style: italic; }
.text.under { text-decoration: underline; }
.text.over { text-decoration: overline; }
.text.line { text-decoration: line-through; }
.text.white { color: #fff; }
.text.black { color: #000; }
.text.red, .text.error { color: red; }
.text.green, .text.success { color: green; }
.text.warn { color: orange; }
.text.info { color: lightgreen; }
.text.blink { /* IE <10 not supported */
	-webkit-animation-name: _blink; -webkit-animation-duration: 1s; -webkit-animation-timing-function: linear; -webkit-animation-iteration-count: infinite;
	-moz-animation-name: _blink; -moz-animation-duration: 1s; -moz-animation-timing-function: linear; -moz-animation-iteration-count: infinite;
	-o-animation-name: _blink; -o-animation-duration: 1s; -o-animation-timing-function: linear; -o-animation-iteration-count: infinite;
	-ms-animation-name: _blink; -ms-animation-duration: 1s; -ms-animation-timing-function: linear; -ms-animation-iteration-count: infinite;
	animation-name: _blink; animation-duration: 1s; animation-timing-function: linear; animation-iteration-count: infinite;
}

/* # CLEAR #*/
.clear { clear: both; }
.clear.left { clear: left; }
.clear.right { clear: right; }

/* # DEBUG # */
.debug.pos { background-color: #ddd; }
.debug.txt { background-color: red; color: #fff; }

/* Specific Use
 * 
 * Things you might you want to adjust
 */
 /* border */
.border { border: 1px solid #ddd; }
.border.dot { border: 1px dotted #ddd; }
.border.top { border-top: 1px solid #ddd; }
.border.right { border-right: 1px solid #ddd; }
.border.bottom { border-bottom: 1px solid #ddd; }
.border.left { border-left: 1px solid #ddd; }
.border.top.dot { border-top: 1px dotted #ddd; }
.border.right.dot { border-right: 1px dotted #ddd; }
.border.bottom.dot { border-bottom: 1px dotted #ddd; }
.border.left.dot { border-left: 1px dotted #ddd; }

/* Keyframes 
 */
@-moz-keyframes _blink { 0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0; } }
@-webkit-keyframes _blink { 0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0; } }
@-o-keyframes _blink { 0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0; } }
@-ms-keyframes _blink { 0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0; } }
@keyframes _blink { 0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0; } }