/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* begin */
.centered {
	margin-right: auto;
	margin-left: auto;
}

.align {
	display: inline;
}

.align.left {
	float: left;
}

.align.right {
	float: right;
}

.stay {
	position: relative;
}

.stay.left, 
.stay.top, 
.stay.right, 
.stay.bottom {
	position: absolute;
}

.stay.left {
	left: 0;
}

.stay.right {
	right: 0;
}

.stay.top, 
.stay.top.center {
	top: 0;
}

.stay.top.center {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.stay.bottom, 
.stay.bottom.center {
	bottom: 0;
}

.stay.bottom.center {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

/* # WHITE-SPACE # */
/* -- layout spaces-- */
.more.inter.space.top.ten, 
.more.both.space.top.ten {
	margin-top: 10px;
}

.more.both.space.top.ten {
	padding-top: 10px;
}

.more.inter.space.all.ten {
	margin: 10px;
}

.more.inter.space.top.twenty, 
.more.both.space.top.twenty {
	margin-top: 20px;
}

.more.both.space.top.twenty {
	padding-top: 20px;
}

.more.inter.space.all.twenty {
	margin: 20px;
}

.more.inter.space.top.thirty, 
.more.both.space.top.thirty {
	margin-top: 30px;
}

.more.both.space.top.thirty {
	padding-top: 30px;
}

.more.inter.space.all.thirty {
	margin: 30px;
}

.more.inter.space.top.fourty, 
.more.both.space.top.fourty {
	margin-top: 40px;
}

.more.both.space.top.fourty {
	padding-top: 40px;
}

.more.inter.space.all.fourty {
	margin: 40px;
}

.more.inter.space.top.fifty, 
.more.both.space.top.fifty {
	margin-top: 50px;
}

.more.both.space.top.fifty {
	padding-top: 50px;
}

.more.inter.space.all.fifty {
	margin: 50px;
}

.more.inter.space.top.far, 
.more.both.space.top.far {
	margin-top: 77px;
}

.more.both.space.top.far {
	padding-top: 77px;
}

.more.inter.space.all.far {
	margin: 70px;
}

.more.inter.space.right.ten, 
.more.both.space.right.ten {
	margin-right: 10px;
}

.more.both.space.right.ten {
	padding-right: 10px;
}

.more.inter.space.right.twenty, 
.more.both.space.right.twenty {
	margin-right: 20px;
}

.more.both.space.right.twenty {
	padding-right: 20px;
}

.more.inter.space.right.thirty, 
.more.both.space.right.thirty {
	margin-right: 30px;
}

.more.both.space.right.thirty {
	padding-right: 30px;
}

.more.inter.space.right.fourty, 
.more.both.space.right.fourty {
	margin-right: 40px;
}

.more.both.space.right.fourty {
	padding-right: 40px;
}

.more.inter.space.right.fifty, 
.more.both.space.right.fifty {
	margin-right: 50px;
}

.more.both.space.right.fifty {
	padding-right: 50px;
}

.more.inter.space.right.far, 
.more.both.space.right.far {
	margin-right: 77px;
}

.more.both.space.right.far {
	padding-right: 77px;
}

.more.inter.space.bottom.ten, 
.more.both.space.bottom.ten {
	margin-bottom: 10px;
}

.more.both.space.bottom.ten {
	padding-bottom: 10px;
}

.more.inter.space.bottom.twenty, 
.more.both.space.bottom.twenty {
	margin-bottom: 20px;
}

.more.both.space.bottom.twenty {
	padding-bottom: 20px;
}

.more.inter.space.bottom.thirty, 
.more.both.space.bottom.thirty {
	margin-bottom: 30px;
}

.more.both.space.bottom.thirty {
	padding-bottom: 30px;
}

.more.inter.space.bottom.fourty, 
.more.both.space.bottom.fourty {
	margin-bottom: 40px;
}

.more.both.space.bottom.fourty {
	padding-bottom: 40px;
}

.more.inter.space.bottom.fifty, 
.more.both.space.bottom.fifty {
	margin-bottom: 50px;
}

.more.both.space.bottom.fifty {
	padding-bottom: 50px
}

.more.inter.space.bottom.far, 
.more.both.space.bottom.far {
	margin-bottom: 77px;
}

.more.both.space.bottom.far {
	padding-bottom: 77px;
}

.more.inter.space.left.ten, 
.more.both.space.left.ten {
	margin-left: 10px;
}

.more.both.space.left.ten {
	padding-left: 10px;
}

.more.inter.space.left.twenty, 
.more.both.space.left.twenty {
	margin-left: 20px;
}

.more.both.space.left.twenty {
	padding-left: 20px;
}

.more.inter.space.left.thirty, 
.more.both.space.left.thirty {
	margin-left: 30px;
}

.more.both.space.left.thirty {
	padding-left: 30px;
}

.more.inter.space.left.fourty, 
.more.both.space.left.fourty {
	margin-left: 40px;
}

.more.both.space.left.fourty {
	padding-left: 40px;
}

.more.inter.space.left.fifty, 
.more.both.space.left.fifty {
	margin-left: 50px;
}

.more.both.space.left.fifty {
	padding-left: 50px;
}

.more.inter.space.left.far, 
.more.both.space.left.far {
	margin-left: 77px;
}

.more.both.space.left.far {
	padding-left: 77px;
}

/* -- content spaces-- */
.more.intra.space.top.ten {
	padding-top: 10px;
}

.more.intra.space.all.ten {
	padding: 10px;
}

.more.intra.space.top.twenty {
	padding-top: 20px;
}

.more.intra.space.all.twenty {
	padding: 20px;
}

.more.intra.space.top.thirty {
	padding-top: 30px;
}

.more.intra.space.all.thirty {
	padding: 30px;
}

.more.intra.space.top.fourty {
	padding-top: 40px;
}

.more.intra.space.all.fourty {
	padding: 40px;
}

.more.intra.space.top.fifty {
	padding-top: 50px;
}

.more.intra.space.all.fifty {
	padding: 50px;
}

.more.intra.space.top.far {
	padding-top: 77px;
}

.more.intra.space.all.far {
	padding: 77px;
}

.more.intra.space.right.ten {
	padding-right: 10px;
}

.more.intra.space.right.twenty {
	padding-right: 20px;
}

.more.intra.space.right.thirty {
	padding-right: 30px;
}

.more.intra.space.right.fourty {
	padding-right: 40px;
}

.more.intra.space.right.fifty {
	padding-right: 50px;
}

.more.intra.space.right.far {
	padding-right: 77px;
}

.more.intra.space.bottom.ten {
	padding-bottom: 10px;
}

.more.intra.space.bottom.twenty {
	padding-bottom: 20px;
}

.more.intra.space.bottom.thirty {
	padding-bottom: 30px;
}

.more.intra.space.bottom.fourty {
	padding-bottom: 40px;
}

.more.intra.space.bottom.fifty {
	padding-bottom: 50px;
}

.more.intra.space.bottom.far {
	padding-bottom: 77px;
}

.more.intra.space.left.ten {
	padding-left: 10px;
}

.more.intra.space.left.twenty {
	padding-left: 20px;
}

.more.intra.space.left.thirty {
	padding-left: 30px;
}

.more.intra.space.left.fourty {
	padding-left: 40px;
}

.more.intra.space.left.fifty {
	padding-left: 50px;
}

.more.intra.space.left.far {
	padding-left: 77px;
}

/* # TEXT # */
.text.left {
	text-align: left;
}

.text.right {
	text-align: right;
}

.text.center {
	text-align: center;
}

.text.light {
	font-style: lighter;
}

.text.bold {
	font-style: bolder;
}

.text.italic {
	font-style: italic;
}

.text.under {
	font-style: oblique;
}

/* # BORDER # */
.border.small.all {
	border: 1px solid #ddd;
}

.border.small.left {
	border-left: 1px solid #ddd;
}

.border.small.right {
	border-right: 1px solid #ddd;
}

.border.small.top {
	border-top: 1px solid #ddd;
}

.border.small.bottom {
	border-bottom: 1px solid #ddd;
}

.border.small.all.dot {
	border: 1px dotted #ddd;
}

.border.small.left.dot {
	border-left: 1px dotted #ddd;
}

.border.small.right.dot {
	border-right: 1px dotted #ddd;
}

.border.small.top.dot {
	border-top: 1px dotted #ddd;
}

.border.small.bottom.dot {
	border-bottom: 1px dotted #ddd;
}

.border.bog.all {
	border: 5px solid #ddd;
}

.border.big.left {
	border-left: 5px solid #ddd;
}

.border.big.right {
	border-right: 5px solid #ddd;
}

.border.big.top {
	border-top: 5px solid #ddd;
}

.border.big.bottom {
	border-bottom: 5px solid #ddd;
}

.border.big.all.dot {
	border: 5px dotted #ddd;
}

.border.big.left.dot {
	border-left: 5px dotted #ddd;
}

.border.big.right.dot {
	border-right: 5px dotted #ddd;
}

.border.big.top.dot {
	border-top: 5px dotted #ddd;
}

.border.big.bottom.dot {
	border-bottom: 1px dotted #ddd;
}

/* # CLEAR #*/
.clear.left {
	clear: left;
}

.clear.right {
	clear: right;
}

.clear.all {
	clear: both;
}

/* # DEBUG # */
.debug {
	background-color: #ddd;
}